

.checkbox {
    appearance: none;

}
.checkboxInput {
    position: absolute;
    margin-left: -2.5em;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid gray;

}

.checkbox:checked + .checkboxInput {
    background-image: url(tick.png);
    background-size: 24px auto;
    background-clip: content-box;
}