.navigation {
    display: flex;
    width: 250px;
    transition-duration: 1s;
    transform: translate(-220px);
}

.navigation:hover{
    transition-duration: 1s;
    transform: translate(0);
}

.link {
    text-decoration: none;
    margin: 10px;
}

.link:hover {
    color: #0f7afc;
}

.active {
    color: #cf0000;
}

.toggle {
    width: 85px;
    height: 20px;
    margin-left: 30px;
    margin-top:12px;
    color: rgba(30, 255, 188, 1);
    background: rgba(255, 255, 255, 1);
    transition: color .3s, background .5s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toggle:hover{
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(30, 255, 188, 1) 50%, rgba(30, 255, 188, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
    background-size: 10px 10px;
    color: #FF50E5;
}


